/* Framasoft colors */
.violet {
    font-weight: bold;
    color: #6A5687;
}

.orange {
    font-weight: bold;
    color: #EB7E41;
}

.vert {
    font-weight: bold;
    color: #9BAE5F;
}

.bleu {
    font-weight: bold;
    color: #0C5B7A;
}

.rouge {
    font-weight: bold;
    color: #CC2D18;
}

.jaune {
    font-weight: bold;
    color: #DBA306;
}
/* End Framasoft colors*/
